apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor
  labels:
    app: monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitor
  template:
    metadata:
      labels:
        app: monitor
    spec:
      containers:
        - name: monitor
          # ✅ Usa imagem publicada no Docker Hub
          image: puff10/projeto:latest
          # ✅ Puxa imagem nova se não estiver presente localmente
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
 




