name: CD - Deploy no Railway

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker"]
    types: [ "completed" ]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositório
        uses: actions/checkout@v4

      - name: Instalar Railway CLI
        run: npm i -g @railway/cli

      - name: Autenticar no Railway
        run: railway login --token ${{ secrets.RAILWAY_TOKEN }}

      - name: Deploy automático para o Railway
        run: railway up --service projeto --environment production

      - name: Verificar logs e status
        run: railway status




